input{
  width:50%;
padding: 10px;
margin: 10px;
margin-left: 30px;
height: 30%;
}
table
{
padding: 10px;
margin-top: 50px;
height: 50%;
width: 80%;
margin-left: 130px;
}
td{
  border-bottom: solid 2px black;
  background-color:whitesmoke;
}
label
{
  padding: 10px;
  margin: 10px;
}
